:root {
    --cor-primaria: rgb(0, 55, 117);

    --cor-secundaria: #D9F0F7;

    --cor-destaque1: darkblue;

    --cor-destaque2: rgb(0, 55, 117);

    --fonte-titulo: "Times New Roman", "Georgia", serif;
    --fonte-body: Arial, Helvetica, sans-serif;
}

/* Remove margens e espaçamentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral da página */
body {
    font-family: var(--fonte-body);
    color: var(--cor-destaque1);
    background-color: white;
}

/* Limita a largura da página e centraliza */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: var(--cor-primaria);
    padding: 16px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

header img {
    width: 150px;
    height: auto;
}

/* Navegação */
nav {
    margin: 0;
}

nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--cor-destaque2);
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

/* Títulos */
h1,
h2 {
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
    text-align: center;
}

/* Parágrafos, seções e artigos */
p {
    margin: 8px;
    padding: 4px;
}

/* Área principal da imagem */
.hero {
    position: relative;
}

/* Imagem principal do hero */
.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Título sobre a imagem */
.hero h1 {
    position: absolute;
    top: 25px;
    width: 840px;
    padding: 8px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--cor-destaque2);
    color: white;
}

/* Texto sobre a imagem */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 5%;
    width: 90%;
    background-color: var(--cor-secundaria);
    opacity: 1;
}

/* Imagem dentro do article */
.hero article img {
    float: right;
    width: 125px;
    margin: 4px;
    border: 3px solid var(--cor-primaria);
}

.aventuras {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.aventuras figure {
    flex: 1;
    text-align: center;
}

.aventuras img {
    width: 100%;
    height: auto;
}

.aventuras figcaption {
    text-align: center;
    font-size: 14px;
    margin-top: 4px;
}

/* Seções */
section {
    background-color: var(--cor-secundaria);
    padding: 20px;
}

.historia {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 20px;
}

section h2 {
    margin-bottom: 0;
}

/* Rodapé */
footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    background-color: var(--cor-primaria);
    color: whitesmoke;
    text-align: center;
    padding: 4px;
}

.socialmedia {
    display: flex;
    gap: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}