* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Seletores de Classe */

.caixa {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 25%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

:root {

    --cor-primaria: steelblue;
    --cor-texto-claro: white;
    --cor-texto-escuro: #333;
    --cor-fundo-card: #eee;
    --cor-sombra: gray;
    --cor-borda-suave: rgb(0 0 0 / 0.2);

    --padding-padrao: 1rem;
}

main {
    max-width: 840px;
}

nav {
    background-color: var(--cor-primaria);
    padding: 0;
}

nav a {
    color: var(--cor-texto-claro);
    padding: 10px;
    display: block;
}

h1 {
    color: var(--cor-primaria);
}

aside {
    width: 25rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 110px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--cor-primaria);
    padding: 2px;
    box-shadow: 0 0 30px var(--cor-sombra);
    float: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}