* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

header {
    text-align: center;
}

main {
    background-color: #dadada;
    padding: 10px 30px 40px;
}

form {
    display: grid;
    gap: 5px;
}

label {
    margin-top: 15px;
}

input,
textarea,
select,
button {
    padding: 5px 10px;

}

button {
    margin-top: 15px;
    background-color: blue;
    color: #fff;
}